header.header {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--E5E6E8-color);
    background: var(--F0F1F5-color);
}
.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}
button#dropdown-profile-button {
    padding: 0;
    background: center;
    border: 0;
    color: var(--content-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
#dropdown-profile-button:after {
    display: none;
}
#dropdown-profile-button .profile-image {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--color-dddddd);
}
#dropdown-profile-button .profile-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
#dropdown-profile-button .profile-image .prime-icon img{
    width: 20px;
}
.header-profile-dropdown .dropdown-menu {
    border-radius: 10px;
    background: var(--white-color);
    box-shadow: 0px 4px 10px 0px var(--color-00000040);
    border: 0;
    padding: 0;
    right: -5px !important;
    top: 8px !important;
    left: -5px !important;
    overflow: hidden;
    padding: 10px;
}
.header-profile-dropdown .dropdown-menu a{
    padding: 15px 10px;
    border-bottom: 0px solid var(-color-BDBDBD);
    color: var(--color-7C7C7C);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: all .4s;
    display: flex;
    align-items: center;
    column-gap: 15px;
    overflow: hidden;
    letter-spacing: 0.4px;
    
}
.header-profile-dropdown .dropdown-menu a:hover{
    border-radius: 6px;
    background: #F3F9FF;
    color: var(--color-4E79F3);
}
.header-profile-dropdown .dropdown-menu a:hover svg path{
    transition: all .4s;
}
.header-profile-dropdown .dropdown-menu a:hover svg path{
    stroke: var(--color-4E79F3);
}
.dropdown-item:active{
    background: unset !important;
}
.header-profile-dropdown .profile-letter {
    font-size: 22px;
}
.header-profile-dropdown .dropdown-menu a svg {
    height: auto;
    width: 20px;
}
.header-profile-dropdown .dropdown-menu a.logout-item.dropdown-item {
    border-top: 1px solid #E5E6E8;
    color: var(--color-FF5353);
}
.header-profile-dropdown .dropdown-menu a.logout-item.dropdown-item:hover {
    background-color: var(--color-fcf4f4);
}
.header-profile-dropdown .dropdown-menu a.logout-item.dropdown-item:hover svg path{
    stroke: var(--color-FF5353);
}
span.profile-text {
    flex: 0 0 115px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}