.mock-test-info {
    display: flex;
    padding: 0 30px 30px;
    gap: 30px;
}
.mock-test-info-box {
    border-radius: 7px;
    border: 1px solid #E5E6E8;
    background: #FFF;
    display: flex;
    align-items: center;
    width: calc(25% - 23px);
}
.mock-test-info-box {
    border-radius: 7px;
    border: 1px solid var(--E5E6E8-color);
    background: var(--white-color);
    display: flex;
    align-items: center;
    width: calc(25% - 23px);
    padding: 15px 25px;
    gap: 15px;
}
.mock-test-info-box p{
    color: var(--content-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    display: flex;
    gap: 5px;
}
span.mock-test-info-count {
    color: var(--black-color);
}
.mock-test-filter {
    padding: 0 30px 30px;
    display: flex;
}
.select-btn {
    border-radius: 9px;
    border: 1px solid #E5E6E8;
    background: #FFF;
    padding: 15px 20px;
    width: 143px;
    color: #838383;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    cursor: pointer;
}
.select-menu {
    position: relative;
}
.select-menu-outer {
    border-radius: 10px;
    border: 1px solid #E5E6E8;
    background: #FFF;
    padding: 16px;
    position: absolute;
    top: 62px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}
.select-menu-outer.open {
    opacity: 1;
    visibility: visible;
    top: 52px;
}
.select-menu-outer li span{
    color: #565656;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    padding: 6px 10px;
    border-radius: 5px;
    margin: 0;
    cursor: pointer;
}
.select-menu-outer span {
    color: #3D3D3D;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin: 4px 0 12px;
    display: block;
}
.select-menu-outer ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.select-btn.selected {
    border: 2px solid #4E79F3;
    background: #F3F9FF;
    color: #4E79F3;
}