@font-face {
    font-family: "Satoshi";
    src: url("../assets/Fonts/Satoshi-Regular.woff2") format("woff2"),
        url("../assets/Fonts/Satoshi-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Satoshi";
    src: url("../assets/Fonts/Satoshi-Medium.woff2") format("woff2"),
        url("../assets/Fonts/Satoshi-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Satoshi";
    src: url("../assets/Fonts/Satoshi-Bold.woff2") format("woff2"),
        url("../assets/Fonts/Satoshi-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Satoshi";
    src: url("../assets/Fonts/Satoshi-Black.woff2") format("woff2"),
        url("../assets/Fonts/Satoshi-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
::after,
::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
:root {
    --font-family: "Satoshi";
    --body-color: #F4F5F7;
    --blue-color: #0d56f9;
    --black-color: #000;
    --white-color: #fff;
    --content-color: #3D3D3D;
    --common-blue-color: #AFE910;
    --E5E6E8-color: #E5E6E8;
    --FAFAFA-color: #FAFAFA;
    --color-838383:#838383;
    --E2E2E2-color:#E2E2E2;
    --F0F1F5-color:#F0F1F5;
    --color-202224:#202224;
    --color-4E79F3:#4E79F3;
    --B1B1B1-color:#B1B1B1;
    --F0F1F570-color:#F0F1F570;
    --color-00BC16:#00BC16;
    --color-DDFFE4:#DDFFE4;
    --color-F3065D:#F3065D;
    --color-FFDDE8:#FFDDE8;
    --color-A300BC:#A300BC;
    --color-FFDDFE:#FFDDFE;
    --color-696969:#696969;
    --color-E8E8E8:#E8E8E8;
    --color-008DD3:#008DD3;
    --color-C8EDFF:#C8EDFF;
    --color-F3A806:#F3A806;
    --color-FFF6DD:#FFF6DD;
    --color-D87503:#D87503;
    --color-FFE4DA:#FFE4DA;
    --color-5D41FF:#5D41FF;
    --color-E3DDFF:#E3DDFF;
    --color-009CAD:#009CAD;
    --color-C3F9FF:#C3F9FF;
    --color-5A9200:#5A9200;
    --color-E8FFCC:#E8FFCC;
    --color-cbdbff:#cbdbff;
    --color-F3F9FF:#F3F9FF;
    --color-FFD3D4:#FFD3D4;
    --color-D9FFC4:#D9FFC4;
    --color-FF5353:#FF5353;
    --color-009665:#009665;
    --color-1A1A1A:#1A1A1A;
    --color-F8FFE6:#F8FFE6;
    --color-F5FFD9:#F5FFD9;
    --color-dfe9ff:#dfe9ff;
    --color-888888:#888888;
    --color-dddddd:#dddddd;
    --color-BDBDBD:#BDBDBD;
    --color-7C7C7C:#7C7C7C;
    --color-EFEFEF:#EFEFEF;
    --color-F2FFCE:#F2FFCE;
    --color-E4FF9C:#E4FF9C;
    --color-394D00:#394D00;
    --color-E5E5E5:#E5E5E5;
    --color-383838:#383838;
    --color-CEECFF:#CEECFF;
    --color-7EB7F8:#7EB7F8;
    --color-fcf4f4:#fcf4f4;
    --color-0000001a:#0000001a;
    --color-00000040:#00000040;
    --color-000000D9:#000000D9;
}
html {
    overflow-y: auto;
}
body {
    margin: 0;
    font-family: var(--font-family);
    background: var(--body-color);
    position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}
:focus-visible,
button:focus,
input:focus,
select:focus {
    outline: unset;
    box-shadow: none;
    outline: unset;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input,
select,
textarea,
button {
    font-family: var(--font-family);
}
a,
a:hover {
    text-decoration: none;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.main-area {
    padding-left: 280px;
}
.non-prime-common-btn {
    border-radius: 7px;
    background: var(--common-blue-color);
    display: inline-flex;
    align-items: center;
    padding: 11px 20px;
    gap: 10px;
    color: var(--black-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}
.page-content h1 {
    color: var(--black-color);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    padding: 30px;
}
.floating-label {
    position: relative;
    margin-bottom: 40px;
}
.floating-label input, .floating-label select, .floating-label textarea {
    border-radius: 10px;
    border: 1px solid var(--E5E6E8-color);
    padding: 16px 50px 16px 20px !important;
    color: var(--black-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    background-color: var(--FAFAFA-color);
}
.floating-label select {
    cursor: pointer;
    appearance: none;
    background-image: url(../assets/Images/select-down-arrow.svg);
    cursor: pointer;
    appearance: none;
    background-position: center right 20px;
    background-repeat: no-repeat;
    background-size: 12px 12px;
}
.floating-label label {
    position: absolute;
    pointer-events: none;
    left: 20px;
    top: 18px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    background-color: transparent;
    color: var(--content-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    text-transform: capitalize;
}
.floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label, 
.phone-floting label, input:-webkit-autofill ~ label {
    top: -10px;
    left: 18px;
    color: var(--a777-color);
}
.form-control:focus {
    color: var(--black-color);
    background-color:var(--FAFAFA-color);
    border-color: var(--E5E6E8-color);
    box-shadow: unset;
}
.floating-label-additional .floating-select.has-value ~ label, 
.floating-label-additional .floating-select:focus ~ label {
    top: -10px !important;
}
input[type="date"]{
  position: relative;
  cursor: pointer;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0  ;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.note-text {
    display: block;
    color: var(--color-838383);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin-top: 11px;
}
.note-text strong{
    color: var(--content-color);
}
.comman-btn {
    border-radius: 7px;
    background: var(--content-color);
    color: var(--white-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    border: 0;
    padding: 16px 30px;
    display: inline-flex;
}
.custom-tooltip {
    position: relative;
    cursor: pointer;
}
.custom-tooltip-content {
    position: absolute;
    background-color: var(--content-color);
    padding: 12px 10px;
    color: var(--E2E2E2-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    border-radius: 8px;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    top: 36px;
    text-align: center;
    display: block;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}
.custom-tooltip:hover .custom-tooltip-content {
    top: 30px;
    opacity: 1;
    visibility: visible;
}
.custom-tooltip.custom-tooltip-right .custom-tooltip-content {
    left: auto;
    right: -30px;
    transform: unset;
}
.custom-tooltip.custom-tooltip-left .custom-tooltip-content {
    left: -30px;
    transform: unset;
}
.custom-tooltip-content::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
}
.custom-tooltip-content:after {
    position: absolute;
    content: "";
    border-bottom: 8px solid var(--content-color);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
}
.custom-tooltip.custom-tooltip-right .custom-tooltip-content:before,
.custom-tooltip.custom-tooltip-right .custom-tooltip-content:after {
    left: auto;
    right: 30px;
    transform: unset;
}
.custom-tooltip.custom-tooltip-left .custom-tooltip-content:before,
.custom-tooltip.custom-tooltip-left .custom-tooltip-content:after {
    left: 30px;
    transform: unset;
}
table {
    width: 100%;
}
table thead th {
    border-top: 1px solid var(--E5E6E8-color);
    border-bottom: 1px solid var(--E5E6E8-color);
    background: var(--F0F1F5-color);
}
table thead th p {
    color: var(--content-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    padding: 16px 30px;
    display: flex;
    align-items: center;
    gap: 5px;
}
table tr td p {
    color: var(--color-202224);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 16px 30px;
}
a.download-link {
    color: var(--color-4E79F3);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    display: flex;
    align-items: center;
    gap: 7px;
}
p.payment-processing {
    display: flex;
    align-items: center;
    color: var(--B1B1B1-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    gap: 8px;
    padding: 0;
}
p.payment-processing svg {
    width: 20px;
    height: auto;
}
table tbody tr:nth-child(even) {
    background: var(--F0F1F570-color);
}
.profile-letter.color1 {
    color: var(--color-00BC16);
    background-color: var(--color-DDFFE4);
}
.profile-letter.color2 {
    color: var(--color-F3065D);
    background-color: var(--color-FFDDE8);
}
.profile-letter.color3 {
    color: var(--color-A300BC);
    background-color: var(--color-FFDDFE);
}
.profile-letter.color4 {
    color: var(--color-696969);
    background-color: var(--color-E8E8E8);
}
.profile-letter.color5 {
    color: var(--color-008DD3);
    background-color: var(--color-C8EDFF);
}
.profile-letter.color6 {
    color: var(--color-F3A806);
    background-color: var(--color-FFF6DD);
}
.profile-letter.color7 {
    color: var(--color-D87503);
    background-color: var(--color-FFE4DA);
}
.profile-letter.color8 {
    color: var(--color-5D41FF);
    background-color: var(--color-E3DDFF);
}
.profile-letter.color9 {
    color: var(--color-009CAD);
    background-color: var(--color-C3F9FF);
}
.profile-letter.color10 {
    color: var(--color-5A9200);
    background-color: var(--color-E8FFCC);
}
.profile-letter {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue-color);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    background-color: var(--color-cbdbff);
    border-radius: 10px;
}
body.modal-open {
    padding-right: 0 !important;
}
.modal-close {
    border: 0;
    padding: 0;
    background: transparent;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    transition: all 0.4s;
    z-index: 1;
}
.modal-close:hover {
    transform: rotate(90deg);
}
.modal-dialog {
    max-width: 600px;
}
.modal-content {
    border-radius: 20px;
}
.modal-body {
    padding: 60px 40px;
}
span.profile-image {
    display: flex;
    position: relative;
}
span.profile-image img {
    border-radius: 8px;
}
span.prime-icon {
    position: absolute;
    display: flex;
    right: 0;
    bottom: 0;
}
.common-btn-link {
    display: inline-flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
}
.common-error-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    background: var(--color-000000D9);
}
.common-error-popup-inner {
    max-width: 509px;
    border-radius: 20px;
    border: 2px solid var(--E5E6E8-color);
    background: var(--white-color);
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}
.common-error-popup-inner h4 {
    color: var(--black-color);
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}
.common-error-popup-inner p {
    color: var(--black-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.common-error-popup-inner button.comman-btn {
    max-width: 158px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    min-width: 158px;
}

@media(max-width: 767px) {
    .comman-btn {
        font-size: 16px;
        padding: 14px 24px;
    }
    .common-btn-link {
        gap: 8px;
    }
    a.comman-btn.common-btn-link svg {
        width: 18px;
        height: auto;
    }


}