.thank-you-page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 30px 100px;
    text-align: center;
}
.thank-you-page-container h2 {
    color: var(--black-color);
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin: 80px 0 15px;
}
.thank-you-page-container p {
    color: var(--black-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 30px;
}
.thank-you-page-container a svg rect {
    stroke: var(--white-color);
}
.contact-support-link a {
    color: var(--content-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    display: inline-block;
    margin-top: 30px;
}